{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    
    <form action="" method="post" class="formulario form-group">
        {% csrf_token %}
        
        <h1>Cadastro de pessoa jurídica (bar e restaurante)</h1>

        <div class="form-group">
            {{ form.razao_social | as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.nome_fantasia | as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.cnpj | as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.celular | as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.nome_contato | as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.data_instalacao | as_crispy_field }}
        </div>
        
        <button type="submit" class="btn mt-4 botao_submissao">Salvar</button>
    </form>
{% endblock %}